<!DOCTYPE html>
<html lang="en">

<head>
{% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block title %}{% endblock title %}</title>

  <!-- Custom fonts for this theme -->
  {% block fonts %}
  <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  {% endblock fonts %}

  <!-- Theme CSS -->
  {% block theme %}
  <link href="{{ url_for('static', filename='css/freelancer.min.css') }}" rel="stylesheet">
  {% endblock theme %}

{% endblock head %}
</head>


<body id="page-top">
{% block body %}
{% endblock body %}
</body>

</html>
